[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=edit_bokeep_payroll.sh
Name=Edit BoKeep Payroll
Icon=gnome-panel-launcher
Categories=Office;Finance;

