[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=bo-keep
Name=Bo-Keep
Icon=gnome-panel-launcher
Categories=Office;Finance;

